.QuestionListTable {
    display: flex;
    flex-direction: column;
    margin-bottom: 10rem;

    .TableTitle {
        display: flex;
        flex-direction: row;
    }
    .TableListItems {
        display: flex;
        flex-direction: column;
    }
}
