$color-primary-blue: #4c01fd;
$color-primary-blue-light: #0dcaf0;
$color-complementary-primary: #b2fd01;

$color-white: #fff;
$color-white-dark: rgb(232, 226, 226);
$color-black: #000;

$color-primary-blue-dark: #290088;
$color-primary-grey: #443e4f;

$color-neutral-1: #8b01fd;
$color-neutral-2: #ca01fd;
$color-neutral-3: #fd01f1;
$color-neutral-4: #fd01b2;
$color-neutral-5: #fd0173;

$font-size-small: 1.05rem;
$font-weight-small: 400;

//bootstrap colors
$blue: #0d6efd;
$indigo: #6610f2;
$purple: #6f42c1;
$pink: #d63384;
$red: #dc3545;
$orange: #fd7e14;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0dcaf0;

$primary: $blue;
$secondary: $gray-600;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

$white: #fff;
$gray-100: #f8f9fa;
$gray-200: #e9ecef;
$gray-300: #dee2e6;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
