$color-primary-blue: #4c01fd;
$color-primary-blue-light: #0dcaf0;
$color-complementary-primary: #b2fd01;

$color-white: #fff;
$color-white-dark: rgb(232, 226, 226);
$color-black: #000;

$color-primary-blue-dark: #290088;
$color-primary-grey: #443e4f;

$color-neutral-1: #8b01fd;
$color-neutral-2: #ca01fd;
$color-neutral-3: #fd01f1;
$color-neutral-4: #fd01b2;
$color-neutral-5: #fd0173;

$font-size-small: 1.05rem;
$font-weight-small: 400;
