$color-primary-blue: #4C01FD;
$color-primary-blue-light: #0dcaf0;
$color-complementary-primary: #B2FD01;

$color-white: #fff;
$color-white-dark: rgb(232, 226, 226);
$color-black: #000;


$color-primary-blue-dark:#290088;
$color-primary-grey: #443e4f;

$color-neutral-1: #8B01FD;
$color-neutral-2: #CA01FD;
$color-neutral-3: #FD01F1;
$color-neutral-4: #FD01B2;
$color-neutral-5: #FD0173;

