@import "../../Sass/main.scss";

.Timer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;

    .Timer-stop {
        margin-left: 1rem;
    }

    .Time {
        margin: 0;
    }
}
