@import "../../../../../Sass/main.scss";

.CardWithImage {
    box-shadow: 7px 6px 3px 0px $gray-400;
    margin-right: 1rem;
    margin-top: 1rem;

    .CardWithImage-deleteButton {
        display: flex;
    }

    .CardWithImage-body {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .difficulty {
        &.easy {
            background-color: $success;
        }
        &.medium {
            background-color: $warning;
        }
        &.hard {
            background-color: $danger;
        }
    }
}
