.OffCanvas-container {
    .OffCanvas-button {
        display: flex;
        margin-bottom: 3rem;
    }
}

.OffCanvas-sideMenu.offcanvas-body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 30rem;
    overflow: auto;
}
