@import '../../Sass/main.scss';


.card {

  &__question {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__description {

    padding: 2rem;
    border: solid 2px $color-primary-grey;
    border-radius: 10px;
  }

  &__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border: 2px solid $color-primary-grey;
    background-image: linear-gradient(to right bottom, $color-primary-blue, $color-neutral-2);
    margin-top: 1.5rem;
    border-radius: 10px;
    width: 70%;
    margin-bottom: 5rem;
    padding: 2rem 0;
  }


}

.card__btn-item {
  transform: scale(1.06);
  margin: 1rem;
  width: 10rem;
  height: 4rem;
  font-size: 29rem;
}