@import "../../Sass/main.scss";

.ArrayMethods {
    .ArrayMethods-card.card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 60rem;
        padding: 2rem 5rem;
        flex-basis: auto;

        .ArrayMethods-description {
            display: flex;
            flex-wrap: wrap;
        }

        .ArrayMethods-Answers {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 30rem;
        }
    }
}
