@import "../../Sass/main.scss";

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: fill;

    & > *:not(:last-child) {
        width: 80%;
        height: 8rem;
    }
}
