@import "../../../../Sass/main.scss";

.QuestionCards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    justify-self: center;
    align-content: space-between;
    align-items: center;

    .QuestionCard {
        margin: 0.5rem 1rem;
    }
}
