@import "../../Sass/main.scss";

.Home {
    .about {
        display: flex;
    }
    .title {
        display: flex;
        flex-direction: column;
    }

    .card-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-grow: 1;
        text-decoration: underline;
    }
    .Home-body {
        display: flex;
        flex-direction: row;
        width: 40rem;
    }
    .Home-textBlocks {
        display: flex;
        flex-direction: column;
    }
}
