@import "../../../Sass/main.scss";

.listItem.card {
    display: flex;
    flex-direction: column;
    width: 20rem;

    .difficulty {
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        width: 1rem;
        height: 1rem;
        border-top: 4rem solid $warning;
        border-right: 4rem solid transparent;
    }
}
