@import "../../../Sass/main.scss";

.listItem.card {
    display: flex;
    flex-direction: row;

    .difficulty {
        width: 1rem;
        height: 1rem;
        border-top: 2rem solid $warning;
        border-right: 2rem solid transparent;
    }
}
