@import "../../../Sass/main.scss";

.listBtn {
    margin: 1rem;
}

.QuestionCard {
    .listItem.card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 20rem;
    }
}
