@import "../../Sass/main.scss";

.QuestionList {
    display: flex;
    flex-direction: column;
    width: 81%;
    height: 80%;

    .QuestionList-buttons {
        display: flex;
        justify-content: flex-end;
    }
}

.list-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
